In [59]:
import pandas as pd
import glob

In [60]:
lambdas = []
x, y, z, v = [], [], [], []

for file in glob.glob('*.csv'):
    
    # считываем csv-файл целиком
    data = pd.read_csv(file, 
                       names=['t', 'vx', 'vy', 'vz', 'sxx', 'sxy', 'sxz', 'syy', 'syz', 'szz'],
                       sep=',')
    
    # запоминаем данные только компонент скорости
    x.append(data['vx'])
    y.append(data['vy'])
    z.append(data['vz'])
    
    # считаем модуль скорости
    v.append(np.sqrt(data['vx']**2 + data['vy']**2 + data['vz']**2))
    
    # вытаскиваем из названия файла значение лямбды  (lambda=4242,42.csv)
    lam = float(file.split('=')[-1].split('.')[0].replace(',', '.'))
    
    # сохраняем лямбды для каждого файла
    lambdas.append(lam)

In [58]:
# датасет по vx

'''
Датасет содержит информацию со всех рассчитанных тасков.
Каждой строке соответствуют значения x-компненты скорости, каждому столбцу - определенный момент времени.
Последний столбец - целевая переменная лямбда.
'''

data_x = pd.concat(x, axis=1).transpose()
data_x['lambda'] = lambdas
data_x.head()

,0,1,2,3,4,5,6,7,8,9,...,191,192,193,194,195,196,197,198,199,lambda
vx,2.639930e-08,-1.402460e-08,3.134920e-08,-3.959890e-08,4.393010e-08,-4.124890e-09,-2.681180e-08,3.196790e-08,-2.124320e-08,7.445420e-08,...,4.687940e-07,2.591590e-08,-2.624330e-07,-7.248720e-07,-6.323710e-07,-1.733230e-07,3.007300e-07,7.962070e-07,9.912110e-07,333.0
vx,0.000000e+00,0.000000e+00,-2.054390e-11,-4.108780e-10,-1.342200e-09,-8.655820e-09,-5.724890e-09,-4.464870e-09,2.218740e-09,6.861660e-09,...,-1.700490e-07,-1.843610e-07,-1.612760e-07,-1.048770e-07,-5.067830e-08,-3.308590e-08,3.494510e-08,8.849450e-08,1.248180e-07,666.0

In [53]:
# датасет по vy
data_y = pd.concat(y, axis=1).transpose()
data_y['lambda'] = lambdas
data_y.head()

,0,1,2,3,4,5,6,7,8,9,...,191,192,193,194,195,196,197,198,199,lambda
vy,0.000000,-8.249780e-10,-1.897450e-08,-1.072470e-08,-3.176160e-08,-1.237470e-08,-2.557430e-08,4.124890e-10,-9.590370e-09,-8.301340e-09,...,-5.864300e-07,-0.000001,-0.000002,-0.000002,-0.000002,-0.000002,-0.000002,-9.164600e-07,-1.884560e-07,333.0
vy,-0.582285,-3.388030e-01,-1.684550e-01,-1.367390e-01,-1.174880e-01,-1.264480e-01,-1.180610e-01,-1.221860e-01,-1.082100e-01,-9.735550e-02,...,-6.459050e-02,-0.068972,-0.067171,-0.056088,-0.038084,-0.010492,0.004322,2.285370e-02,3.358130e-02,666.0

In [54]:
# датасет по vz
data_z = pd.concat(z, axis=1).transpose()
data_z['lambda'] = lambdas
data_z.head()

,0,1,2,3,4,5,6,7,8,9,...,191,192,193,194,195,196,197,198,199,lambda
vz,0.0,0.484313,0.782606,1.227960,0.506990,1.071820,1.147550,1.315710,1.269560,1.410990,...,0.117788,0.027940,0.070631,-0.023536,-0.062719,-0.088230,-0.077061,-0.054492,0.050709,333.0
vz,0.0,-0.126525,-0.209849,-0.323551,-0.131476,-0.238931,-0.259838,-0.316872,-0.317133,-0.284509,...,-0.059617,-0.073248,-0.048811,-0.055397,-0.041971,-0.022949,-0.009790,-0.005246,-0.038525,666.0

In [56]:
# датасет по модулю v
data_v = pd.concat(v, axis=1).transpose()
data_v['lambda'] = lambdas
data_v.head()

,0,1,2,3,4,5,6,7,8,9,...,191,192,193,194,195,196,197,198,199,lambda
0,2.639930e-08,0.484313,0.782606,1.227960,0.506990,1.071820,1.147550,1.315710,1.269560,1.410990,...,0.117788,0.02794,0.070631,0.023536,0.062719,0.088230,0.077061,0.054492,0.050709,333.0
1,5.822850e-01,0.361657,0.269098,0.351259,0.176322,0.270328,0.285402,0.339613,0.335086,0.300705,...,0.087899,0.10061,0.083033,0.078833,0.056674,0.025234,0.010701,0.023448,0.051106,666.0

In [62]:
data_v.to_csv('final_dataset.csv')